@font-face {
	font-family: 'Magnolia';
	src: url('../fonts/hinted-subset-Magnolia-Script.woff2') format('woff2'),
	url('../fonts/hinted-subset-Magnolia-Script.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?jmvccp');
	src:  url('../fonts/icomoon.eot?jmvccp#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?jmvccp') format('truetype'),
	url('../fonts/icomoon.woff?jmvccp') format('woff'),
	url('../fonts/icomoon.svg?jmvccp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-apple:before {
	content: "\e900";
}
.i-back:before {
	content: "\e901";
}
.i-chair:before {
	content: "\e902";
}
.i-dislike:before {
	content: "\e903";
}
.i-doc:before {
	content: "\e904";
}
.i-factory:before {
	content: "\e905";
}
.i-instr:before {
	content: "\e906";
}
.i-med-key:before {
	content: "\e907";
}
.i-med-man:before {
	content: "\e908";
}
.i-money:before {
	content: "\e90d";
}
.i-next:before {
	content: "\e90e";
}
.i-phone:before {
	content: "\e90f";
}
.i-prev:before {
	content: "\e910";
}
.i-question:before {
	content: "\e911";
}
.i-right-arrow:before {
	content: "\e912";
}
.i-scroll:before {
	content: "\e913";
}
.i-termometr:before {
	content: "\e914";
}
.i-tooth:before {
	content: "\e915";
}
.i-toothbrush:before {
	content: "\e916";
}
.i-tooth-hole:before {
	content: "\e917";
}
.i-tooth-loope:before {
	content: "\e918";
}
.i-soc-fb:before {
	content: "\e909";
}
.i-soc-insta:before {
	content: "\e90a";
}
.i-soc-vk:before {
	content: "\e90b";
}
.i-soc-you:before {
	content: "\e90c";
}
