.about-sec {
	background: url("../img/about/bg.jpg") no-repeat center bottom;
	@include res(s) {
		background: url("../img/about/bg-mobile.jpg") no-repeat center bottom;
		background-size: cover;
	}
}

.about {}

.about__video {
	position: relative;
	padding-top: 70px;
	@include res(m) {
		padding-top: 230px;
	}
	@include res(s) {
		padding-top: 240px;
	}
}

.about__video-info {
	position: relative;
	max-width: 300px;
	padding: 0 $pad-xs $pad-m;
	background: #fff;
	z-index: 1;
	@include res(m) {
		margin: 0 auto;
	}
	@include res(s) {
		padding: 0 15px $pad-xs;
	}
	&:before {
		content: '';
		position: absolute;
		top: -60px;
		left: 50%;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		box-shadow: 0 0 5px 0 transparentize(#000, 0.5);
		background: #fff;
		transform: translate3d(-50%,0,0);
		z-index: 0;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		box-shadow: 0 0 5px 0 transparentize(#000, 0.5);
		background: #fff;
		z-index: 0;
	}
	p {
		position: relative;
		padding-bottom: $pad-xxs;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 0.1em;
		color: $blue;
		text-align: center;
		z-index: 1;
		@include res(s) {
			font-size: 14px;
		}
	}
	span {
		position: relative;
		font-size: 16px;
		line-height: (24/16);
		z-index: 1;
		@include res(l) {
			font-size: 15px;
		}
		@include res(s) {
			font-size: 14px;
		}
	}
}

.about__video-img {
	position: relative;
	top: -50px;
	width: 160px;
	margin: 0 auto -30px;
	border-radius: 50%;
	background: #fff;
	z-index: 1;
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		border-radius: 50%;
	}
}

.about__video-play {
	position: absolute;
	top: 100px;
	left: 280px;
	width: 230px;
	height: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
	@include res(l) {
		width: 140px;
		height: 140px;
		left: 290px;
	}
	@include res(m) {
		top: 0;
		left: 50%;
		transform: translate3d(-50%,0,0);
	}
	@include res(s) {
		top: 10px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: url("../img/about/bg-play.png") no-repeat center;
		background-size: contain;
		animation: video-circle 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
	}
	@keyframes video-circle {
		0% {
			opacity: 1;
			transform: translate3d(0,0,0) rotate(0deg);
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
			transform: translate3d(0,0,0) rotate(360deg);
		}
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 145px;
		height: 145px;
		border: 1px solid #8830da;
		border-radius: 50%;
		transition: all 0.3s ease;
		box-shadow: 0 0 0 0 $blue inset, 0 0 0 0 $blue;
		@include res(l) {
			width: 90px;
			height: 90px;
		}
		&:hover {
			box-shadow: 0 0 1px 0 #8830da inset, 0 0 0 3px transparentize(#8830da,0.5);
		}
		img {
			margin-left: 6px;
		}
	}
}

.about__info {
	@include res(s) {
		padding-top: $pad-s;
	}
}

.about__serts {
	max-width: 728px;
	margin-left: auto;
	padding-top: $pad-l;
	@include res(s) {
		margin-top: -30px;
	}
	.flickity-button {
		background: transparentize(#000,1);
	}
	.flickity-prev-next-button.previous {
		left: 195px;
		@include res(s) {
			left: -20px;
		}
	}
	.flickity-prev-next-button.next {
		right: 195px;
		@include res(s) {
			right: -20px;
		}
	}
}

.about__sert {
	width: calc(100% / 3);
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: $pad-l;
	padding: 35px 36px;
	transition: transform 0.3s ease;
	transform: translate3d(0,0,0) scale(0.75);
	background: url("../img/about/bg-sert.jpg") no-repeat center;
	background-size: 100% 100%;
	@include res(s) {
		width: calc(75% - 10px);
		margin-right: 5px;
		margin-left: 5px;
		padding: 26px 26px;
		transform: translate3d(0,0,0) scale(1);
	}
	a {
		position: relative;
		display: block;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all 0.3s ease;
			background: transparentize(#fff,0.75);
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50px;
			height: 50px;
			opacity: 0;
			transition: all 0.3s ease;
			background: url('../img/about/zoom.svg') no-repeat center;
			background-size: contain;
			transform: translate3d(-50%,-50%,0);
		}
		&:hover {
			&:before {
				opacity: 1;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	span {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -45px;
		display: block;
		padding: 0 5px;
		font-size: 14px;
		line-height: (18/14);
		text-align: center;
		opacity: 0;
		transition: all 0.3s ease;
		transform: translate3d(0,0,0);
		@include res(s) {
			bottom: -40px;
			font-size: 12px;
			opacity: 1;
		}
	}
	&.is-selected {
		transform: translate3d(0,0,0) scale(1);
		span {
			opacity: 1;
		}
	}
}

.about__sert-img {}
