.problems-sec {
	min-height: 1070px;
	color: #fff;
	background: url("../img/problem/bg.jpg") no-repeat center bottom,#00336c;
	@include res(m) {
		min-height: initial;
		padding-bottom: 300px;
		background: url("../img/problem/bg-mobile.jpg") no-repeat center bottom,#00336c;
	}
	@include res(s) {
		padding-bottom: 270px;
	}
}

.problems {
	.page-title {
		.h1 {
			color: #fff;
		}
	}
}

.problems__nav {
	//display: flex;
	margin-left: -10px;
	margin-right: -10px;
	@include res(m) {
		display: flex;
		flex-wrap: wrap;
	}
}

.problems__nav-link {
	position: relative;
	display: block;
	width: calc(100% / 8 - 20px);
	min-height: 130px;
	margin: 5px 10px;
	padding: 15px $pad-xxs;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 10px;
	background: #00336c;
	cursor: pointer;
	transition: all 0.3s ease;
	@include res(l) {
		width: calc(100% / 8 - 10px);
		min-height: 115px;
		margin: 5px 5px;
		padding: 10px $pad-xxs;
	}
	@include res(m) {
		width: calc(50% - 10px);
		padding-left: 60px;
		text-align: left;
	}
	@include res(s) {
		width: 100%;
		margin-bottom: 12px;
	}
	&:hover {
		border-color: #829bb7;
		box-shadow: 0 0 0 3px #829bb7;
		background: #a269ca;
	}
	span {
		display: block;
		margin-bottom: 40px;
		font-size: 14px;
		line-height: (18/14);
		@include res(l) {
			font-size: 12px;
		}
		@include res(m) {
			margin-bottom: 5px;
			text-transform: uppercase;
		}
	}
	p {
		display: none;
		@include res(m) {
			display: block;
			font-size: 13px;
			line-height: (18/13);
		}
	}
	img {
		position: absolute;
		left: 50%;
		bottom: 12px;
		display: block;
		max-width: 100%;
		transform: translate3d(-50%,0,0);
		@include res(m) {
			top: 15px;
			left: 12px;
			transform: translate3d(0,0,0);
		}
	}
	&.is-selected {
		border-color: #829bb7;
		box-shadow: 0 0 0 3px #829bb7;
		background: #a269ca;
	}
}

.problems__slider-wrap {
	position: relative;
	width: 700px;
	height: 650px;
	margin-top: 130px;
	margin-left: 100px;
	@include res(l) {
		margin-top: 60px;
	}
	@include res(m) {
		display: none;
	}
	&:before {
		content: '';
		position: absolute;
		top: -90px;
		left: -120px;
		width: 700px;
		height: 700px;
		border-radius: 50%;
		background: transparentize(#f35d9b,0.9);
		animation: problems-pulse-3 15s infinite ease alternate;
		@include res(l) {
			top: -30px;
			left: -100px;
			width: 550px;
			height: 550px;
		}
		@include res(m) {
			animation-play-state: paused;
		}
	}
	.flickity-viewport {
		z-index: 1;
	}
}

.problems__slider {
	position: relative;
	max-width: 450px;
	@include res(l) {
		max-width: 360px;
	}
	&:before {
		content: '';
		position: absolute;
		top: calc(50% + 50px);
		left: 50%;
		width: 580px;
		height: 580px;
		border-radius: 50%;
		transform: translate3d(-50%,-50%,0);
		background: transparentize(#f35d9b,0.6);
		animation: problems-pulse 15s infinite ease alternate;
		transform-origin: 51% 51%;
		z-index: 0;
		@include res(l) {
			width: 480px;
			height: 480px;
		}
		@include res(m) {
			animation-play-state: paused;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: calc(50% + 50px);
		left: 50%;
		width: 450px;
		height: 450px;
		border-radius: 50%;
		transform: translate3d(-50%,-50%,0);
		background: transparentize(#f35d9b,0.6);
		animation: problems-pulse-2 20s infinite ease alternate;
		transform-origin: 48% 48%;
		z-index: 0;
		@include res(l) {
			width: 350px;
			height: 350px;
		}
		@include res(m) {
			animation-play-state: paused;
		}
	}
}

@keyframes problems-pulse {
	0% {
		transform: translate3d(-50%,-50%,0) scale(1.1,1.1) rotate(0) skewX(6deg);
	}
	100% {
		transform: translate3d(-50%,-50%,0) scale(1.1,1.1) rotate(360deg) skewY(-6deg);
	}
}
@keyframes problems-pulse-2 {
	0% {
		transform: translate3d(-50%,-50%,0) scale(1.2,1.2) rotate(0) skewY(6deg);
	}
	100% {
		transform: translate3d(-50%,-50%,0) scale(1.2,1.2) rotate(-360deg) skewX(-6deg);
	}
}

@keyframes problems-pulse-3 {
	0% {
		transform: translate3d(0,0,0) scale(1.1,1.1) rotate(0) skewX(6deg);
	}
	100% {
		transform: translate3d(0,0,0) scale(1.1,1.1) rotate(360deg) skewY(-6deg);
	}
}

.problems__slide {
	position: relative;
	width: 100%;
	padding-top: 50px;
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	background: radial-gradient(ellipse at center, #f35d9b 0%,transparentize(#f35d9b,1) 60%);
	z-index: 1;
	p {
		padding: 0 $pad-l;
		font-size: 16px;
		line-height: (24/16);
		@include res(l) {
			padding: 0 $pad-s;
			font-size: 14px;
		}
	}
	&.is-selected {
		opacity: 1;
	}
}

.problems__slide-img {
	position: relative;
	max-width: 430px;
	top: -50px;
	margin: 0 auto -50px;
	z-index: 1;
	img {
		display: block;
		max-width: 100%;
	}
}
